VITE_APP_NAME=Loohar
VITE_APP_URL=https://app.loohar.com
VITE_API_URL=https://api.loohar.com
VITE_ADMIN_URL=https://admin.loohar.com
VITE_PLATFORM_URL=https://loohar.com
VITE_TENANT_ROOT_DOMAIN=loohar.com
VITE_PUBLIC_SITE_FALLBACK_URL=https://sites.loohar.com
VITE_PUBLIC_SITE_URL=https://sites.loohar.com
VITE_DRIVER_URL=https://driver.loohar.com
VITE_STRIPE_PUBLIC_KEY=
